<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dangdang</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>


<filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>com.dang.common.filter.EncodingFilter</filter-class>
</filter>
<filter-mapping>
 	<filter-name>encoding</filter-name>
  	<url-pattern>*.do</url-pattern>
</filter-mapping>

    <filter><!--모든 요청에서 작용함-->
  	<filter-name>auth</filter-name>
  	<filter-class>com.dang.common.filter.AuthFilter</filter-class>
  </filter>
   <filter-mapping>
  <filter-name>auth</filter-name>
  <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
 <error-page>
	<exception-type>com.dang.common.exception.CustomException</exception-type>
	<location>/exception</location>
</error-page>


<session-config>
	<session-timeout>30</session-timeout>
</session-config>

</web-app>