@charset "UTF-8";

/*a태그의 보라색 제거*/
a {
	text-decoration: none;
	color: #4169E1;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

#wrap {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#title {
	text-align: center;
	font-size: 2vw;
	margin: 3% 0 0 1%;
	font-family: 'Nanum Gothic', sans-serif;
	color: #8b4513;
	font-weight: bold;
}

.table {
	width: 70%;
	height: 85%;
	margin-top: 3%;
	border-top: 2px solid #8b4513;
	border-collapse: collapse;
}

.table tr {
	border-bottom: 1px solid #999;
}

tr td {
	padding: 10px 0 5px 0;
}

#write {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: flex-end;
}

#writeBtn {
	width: 5%;
	height: 40%;
	border: none;
	border-radius: 10px;
	background-color: #8b4513;
	margin-right: 10%;
	margin-bottom: 1.5%;
	align-self: center;
	border: none;
}

#writeBtn a {
	color: white;
}

/*헤더*/
#header {
	height: 15vh;
}

/*작업할 공간*/
.board {
	height: 70vh;
	margin-top: 15vh;
}

/*푸터*/
#footer {
	height: 15vh;
	padding: 0%;
}