@charset "UTF-8";

#writeWrap {
	width: 50%;
	height: 90vh;
	margin: auto;
}

#box {
	width: 100%;
	height: 10%;
	background-color: #FFF8DC;
	text-align: center;
	border: 1px solid;
	margin-top: 20%;
	padding: 20px;
	font-family: "Jua", sans-serif;
}

#title {
	width: 100%;
	height: 5%;
}

#content {
	width: 100%;
	height: 85%;
}

input {
	width: 100%;
	height: 100%;
}

textarea {
	width: 100%;
	height: 100%;
}

#writeBtnWrap {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: flex-end;
}

#writeBtn {
	height: 60%;
	margin-right: 25%;
	margin-top: 1%;
	background-color: #FFF8DC;
    padding: 7px;
    font-family: "Jua", sans-serif;
	border: none;
}
/*헤더*/
#header {
	height: 15vh;
}

/*작업할 공간*/
.board {
	height: 100vh;
	margin-top: 15vh;
}

/*푸터*/
#footer {
	height: 15vh;
	padding: 0%;
}