@charset "UTF-8";

/*a태그의 보라색 제거*/
a {
	text-decoration: none;
	color: #4169E1;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

#storeWrap {
	display: flex;
	flex-direction: column;
}

#wrap {
	height: 130vh;
	width: 80vw;
	background-color: #ffffff;
	align-self: center;
}

#photo {
	height: 45vh;
	width: 80vw;
	background-color: rgb(114, 114, 107);
	align-self: center;
}

.img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

#storeInfrm {
	height: 130vh;
	width: 70vw;
	position: absolute;
	top: 30%;
	background-color: #ffffff;
	align-self: center;
}

#InfrmList {
	margin-top: 5%;
	text-align: center;
}

#photoZone {
	position: relative;
	top: 5%;
	height: 30%;
	background-color: red;
}

#name {
	font-size: 4vw;
	font-weight: bold;
}

#review {
	margin-top: 3%;
	font-size: 1vw;
}

#kakaoIcon {
	font-size: 2vw;
	margin: 2% 0 0 0;
}

i {
	color: black;
}

#rsv_btn {
	padding: 1% 35% 1% 35%;
	border-radius: 7px;
	border: solid 1.5px #8b4513;
	background-color: white;
	margin: 2% 0 0 0;
	outline: none;
}

#notice {
	font-size: 1vw;
	font-weight: bold;
	border-bottom: 1px solid #cfc7c7;
}

.noticeSpan {
	font-size: 1.5vw;
	font-weight: bold;
	color: red;
}

.list {
	font-size: 1vw;
	padding: 2% 2% 2% 2%;
	border-bottom: 1px solid #cfc7c7;
}

#photoWrap {
	height: 45%;
	display: flex;
	justify-content: center;
}

.photo {
	display: flex;
	width: 90%;
	height: 80%;
}

#services {
	font-size: 1.3vw;
	color: #4169E1;
}

.board {
	background-color: #d3d3d3;
	display: flex;
	flex-direction: column;
}